.Estate-Form-Container{
    display: flex;
    justify-content: center;
}

.contentContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contentContainer .contentTitle{
    width: 100%;
    text-align: center;

}

.ItemContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 40px;
    width: fit-content;
    border: 2px solid rgba(0, 0, 0, .4);
    border-radius: 10px;
}

.ItemDetailsContainer{
    display: flex;
    flex-direction: column;
    min-width: 450px;
    max-width: 500px;

}

.ItemContainer span,.ItemContainer h1,.ItemContainer button, .ItemContainer img {
    margin-right: 30px;
}