.sign_up_page_container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sign_up_container{
    width: 60%;
    height: fit-content;
  }